<footer class="footer">
  <div class="footer-top pb-4 pt-5">
    <div class="container">
      <div class="row mt-1">
        <div class="col-sm-6">
          <address>
            <p><span>
              <img src="/images/dcrust-logo.png" style="width:40px" alt="logo">
            </span>DCRUST Murthal</p>
            <p class="mb-4">Sonipat,Haryana,India</p>
            <div class="d-flex align-items-center">

              <a href="mailto:Marshmallow@yourmail.com" class="footer-link">developerteam2023@gmail.com</a>
            </div>
          </address>
          <div class="social-icons pb-4">
            <h6 class="footer-title font-weight-bold">
              Social Share
            </h6>
            <div class="d-flex">
              <a href="https://github.com/"><i class="mdi mdi-github-circle"></i></a>
              <a href="https://www.facebook.com/"><i class="mdi mdi-facebook-box"></i></a>
              <a href="https://twitter.com/?lang=en"><i class="mdi mdi-twitter"></i></a>
              <a href="https://www.linkedin.com/"><i class="mdi mdi-linkedin"></i></a>
            </div>

          </div>
        </div>
        <div class="col-6">
          <div class="row mt-1 footer-social">
            <div class="col-4 px-2">
              <h6 class="footer-title">Social Share</h6>
              <ul class="list-footer">
                <li><a href="/" class="footer-link">Home</a></li>
                <li><a href="/#services" class="footer-link">About</a></li>
                <li><a href="/#services" class="footer-link">Services</a></li>
                <li><a href="/safety" class="footer-link">Safety</a></li>
                <li><a href="/faq" class="footer-link">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-4 px-5 mr-md-0">
              <h6 class="footer-title">Product</h6>
              <ul class="list-footer">
                <li><a href="/books" class="footer-link">Books</a></li>
                <li><a href="/courses" class="footer-link">Courses</a></li>
                <li><a href="/books" class="footer-link">Test Paper</a></li>
                <li><a href="/books" class="footer-link">Competitive Books</a></li>
              </ul>
            </div>

          </div>
        </div>
          <p class="mb-0 text-small">© 2020 <a href="/" class="text-white" target="_blank">Pages</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" data-auto-replace-svg="nest"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="/vendors/base/vendor.bundle.base.js"></script>
<script src="/vendors/owl.carousel/js/owl.carousel.js"></script>
<script src="/vendors/aos/js/aos.js"></script>
<script src="/vendors/jquery-flipster/js/jquery.flipster.min.js"></script>
<script src="/js/template.js"></script>
</body>
</html>
