<div class="hr my-0">
  <div class="hr-sm hr-red"></div>
  <div class="hr-sm hr-orange"></div>
  <div class="hr-sm hr-yellow "></div>
  <div class="hr-sm hr-green "></div>
  <div class="hr-sm hr-blue "></div>
  <div class="hr-sm hr-purple"></div>
</div>
