<%- include("partials/header") -%>


<div class = "container-fluid  ">
 <div class=" mt-8 mx-3 mb-5 basic-margin">
   <div class="col-md-4 col-sm-6 shadow px-2 py-2">
     <div class="product-grid3">
       <div class="product-image3">
           <a href="/detail"><img class="pic-1" src="/images/img1.jpg"></a>
           <a href="/detail"><img class="pic-2" src="/images/img1.jpg"></a>
         <ul class="social">
           <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
           <li><a href="/addtocart"><i class="fa fa-shopping-cart"></i></a></li>
         </ul>
         <span class="product-new-label">New</span>
       </div>
       <div class="product-content">
         <h3 class="title"><a href="#">Mathematics</a></h3>
         <div class="price">
           Rs 300
           <span>Rs 500</span>
         </div>
         <ul class="rating">
           <li class="fa fa-star"></li>
           <li class="fa fa-star"></li>
           <li class="fa fa-star"></li>
           <li class="fa fa-star"></li>
           <li class="fa fa-star disable"></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
</div>
<%- include("partials/footer") -%>
