<%- include("partials/header")-%>


    <main class="container-fluid basic-margin">
      <div class="row">
        <div class="col-md-5 ">
          <div class="col-md-4 mx-auto my-3 ">
            <img src="/images/detail-page-book.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6 container-fluid mx-0 shadow py-4 px-5">
            <div class="product-description">
                <span>MAthematics</span>
                <h1>R.D sharma</h1>
                <p>The preferred choice of a Ist year students who wants to great repautation in the class by taking
                    great CGPA.</p>
            </div>
            <div class="product-configuration">

                <div class="cable-config mb-5">
                    <span class="mb-5">SELLER DETAILS :</span>

                    <div class="cable-choose mb-1">
                        <P>Name: Deepanshu</P>
                        <P>Contact: 8889092022</P>
                        <P>Hosel Number: 2</P>
                    </div>
                    <a href="#">How to contact seller and make a deal</a>
                </div>
            </div>

            <div class="product-price">
                <span>300Rs</span>
                <a href="#" class="btn btn-success">BUY</a>
            </div>
        </div>
        <div class="col-md-1">

        </div>
      </div>

    </main>


</div>

<%- include("partials/footer")-%>
