<%-include("partials/header")-%>
<%if(alreadyexists=="User already exists try Sign In"){%>
<div class="alert alert-warning mt-5 pt-5 basic-margin">
  <strong>Hey!! </strong> <%= alreadyexists %>
</div>
<%}%>
<div class="container-fluid">
  <div class="row basic-margin">
    <div class="signup-page-container d-flex justify-content-center bg-light signup-page-body mx-auto" id="signup-page-container" data-aos="flip-left" data-aos-duration="1000">

      <div class="form-container sign-in-container">
        <form class="signup-page-form" action="/signin" method="post">
          <h1 class="font-weight-bold mx-0 my-0">Sign in</h1>
        <div class="social-container">
          <a href="#" class="social signup-page-a"><i class="fab fa-facebook-f"></i></a>
          <a href="/auth/google" class="social signup-page-a"><i class="fab fa-google-plus-g"></i></a>
        </div>
          <span class="signup-page-span">or use your account</span>
          <input type="email" placeholder="Email" name="username"/>
          <input type="password" placeholder="Password"  name="password" />
          <a href="/forget" class="signup-page-a">Forgot your password?</a>
          <button class="btn btn-primary shadow btn-xs signupbutton">SignIn</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">

          <div class="overlay-panel overlay-right">
            <h1 class="font-weight-bold mx-0 my-0">Hello buddy , New Here?</h1>
            <p class="signup-page-p">Enter your personal details to start a new and simplified journey only for your success....</p>
            <a href="/signup"><button class="ghost btn btn-light btn-xs shadow signupbutton" id="signUp">SignUp</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>








<script src="/js/signupJs.js" charset="utf-8"></script>

<%-include("partials/footer")-%>
